
@font-face {
    font-family: 'PPEN';
    src: url('fonts/PPEditorialNew-Ultralight.otf') format('opentype');
    /* Add more sources if needed for different formats */
    font-weight: normal;
    font-style: normal;
  }

body,
html {
  overflow: hidden;
}

body {
  background: #000;
}
 
.container {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.scrolling-text {
  display: inline-block;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  will-change: transform;
  backface-visibility: hidden;
}

.scrolling-text .scrolling-text-content {
  color: #fff;
  font-size: 110px;
  white-space: nowrap;
  font-family: sans-serif;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  line-height: 0;
  margin: 50px 0;
}

a:hover {
    cursor: pointer;
}